:root {
    --textColor: darkcyan;
}

h1 {
    display: none;
}

h2 {
    padding: 14px;
    margin: 14px;
    justify-self: center;
    background: aquamarine;
    color: darkmagenta;
    border: 2px solid green;
    border-radius: 14px;
}


@media screen and (max-width:1440px) {
    .px1440 {
        background: blue;
        display: block;
    }
}

@media screen and (max-width:1024px) {
    .px1024 {
        background: brown;
        display: block;
    }
}

@media screen and (max-width:768px) {
    .px768 {
        background: gold;
        display: block;
    }
}

@media screen and (max-width:425px) {
    .px425 {
        background: yellow;
        display: block;
    }
}